<ul class="right-slide">
  <li>
    <h3>Nome</h3>
    <div class="row">
      <div class="col-12">
        <strong>Altura: </strong><span>1,75</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <strong>Sexo: </strong><span>Male</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <strong>Ano de Nascimento: </strong><span>33 BBY</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <strong>Planeta Natal: </strong><span>planeta</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <strong>Espécie: </strong><span>es</span>
      </div>
    </div>
  </li>
</ul>
