<ul class="right-slide">
  <li>
    <h3>{{ character.name }}</h3>
    <div class="row">
      <div class="col-12">
        <strong>Altura: </strong><span>{{ character.height }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <strong>Sexo: </strong><span>{{ character.gender }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <strong>Ano de Nascimento: </strong><span>{{ character.birthYear }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <strong>Planeta Natal: </strong><span>{{ character.homeWorld }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <strong>Espécie: </strong><span>{{ character.specie }}</span>
      </div>
    </div>
  </li>
</ul>
