@import '../../../../assets/styles/core.scss';

.card {
  display: none;

  @media only screen and (min-width: $desktop)  {
    @include rem-calc(width, 360px);
  }

  img {
    @media only screen and (min-width: $desktop)  {
      @include rem-calc(height, 450px);
    }
  }

  &.right-slide {
    display: block;
    animation: slide-in-right .5s;
  }
}
